@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.d-block {
  display: block;
}

button.hamburger {
  height: 35px;
  width: 35px;
}

div.hamburger {
  height: 35px;
  width: 35px;
}
div.hamburger > .inner {
  top: 50%;
}

.hamburger {
  background-color: transparent;
  border: 0 transparent solid;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  opacity: 1;
  overflow: visible;
  padding: 4px;
  text-transform: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger:hover {
  background-color: transparent;
  opacity: 1;
}
.hamburger:hover span.bar {
  background-color: white;
}
.hamburger:hover > .inner:nth-child(1)::before, .hamburger:hover > .inner:nth-child(1)::after, .hamburger:hover > .inner:nth-child(2)::before, .hamburger:hover > .inner:nth-child(2)::after, .hamburger:hover > .inner:nth-child(3)::before, .hamburger:hover > .inner:nth-child(3)::after,
.hamburger:hover span.bar:nth-child(1)::before,
.hamburger:hover span.bar:nth-child(1)::after,
.hamburger:hover span.bar:nth-child(2)::before,
.hamburger:hover span.bar:nth-child(2)::after,
.hamburger:hover span.bar:nth-child(3)::before,
.hamburger:hover span.bar:nth-child(3)::after {
  background-color: white;
}
.hamburger.active {
  background-color: transparent;
}
.hamburger.active span.bar {
  background-color: white;
}
.hamburger.active > .inner:nth-child(1)::before, .hamburger.active > .inner:nth-child(1)::after, .hamburger.active > .inner:nth-child(2)::before, .hamburger.active > .inner:nth-child(2)::after, .hamburger.active > .inner:nth-child(3)::before, .hamburger.active > .inner:nth-child(3)::after,
.hamburger.active span.bar:nth-child(1)::before,
.hamburger.active span.bar:nth-child(1)::after,
.hamburger.active span.bar:nth-child(2)::before,
.hamburger.active span.bar:nth-child(2)::after,
.hamburger.active span.bar:nth-child(3)::before,
.hamburger.active span.bar:nth-child(3)::after {
  background-color: white;
}
.hamburger > .inner {
  margin: 0;
  margin-top: -1px;
  position: relative;
  width: 100%;
}
.hamburger span.bar {
  background-color: white;
  border-radius: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}
.hamburger span.bar:nth-child(1) {
  top: -7px;
}
.hamburger span.bar:nth-child(3) {
  top: 7px;
}
.hamburger:focus {
  outline: 0;
}

.hamburger--simple span.bar {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--simple span.bar:nth-child(1) {
  top: 0;
  transform: translate3d(0, -6px, 0);
}
.hamburger--simple span.bar:nth-child(2) {
  top: 0;
  transform: translate3d(0, 6px, 0);
}
.hamburger--simple span.bar:nth-child(3) {
  display: none;
}
.hamburger--simple.active span.bar:nth-child(1) {
  transform: rotate(-45deg) translate3d(0, 0, 0);
}
.hamburger--simple.active span.bar:nth-child(2) {
  transform: rotate(45deg) translate3d(0, 0, 0);
}

.hamburger {
  display: none;
  margin-right: 20px;
}
.hamburger .inner {
  display: block;
}
@media screen and (max-width: 992px) {
  .hamburger {
    display: inline-block;
    margin-left: auto;
    z-index: 1;
  }
}

.header__portfolio {
  min-height: 1838px;
  background-color: #65BA99;
}

.portfolio__title {
  margin: 0;
  padding: 40px 0 0;
  text-align: center;
  color: #fff;
  font-family: "BebasNeue";
  font-size: 48px;
}

.portfolio__text {
  font-size: 24px;
  margin: 0;
  padding: 0 0 42px;
  text-align: center;
  font-family: "BebasNeue";
  color: #fff;
}

.flex__container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 939px) {
  .flex__container {
    max-width: 470px;
    margin: auto;
  }
}

.flex_box {
  position: relative;
  overflow: hidden;
}
.flex_box:hover .post__icon {
  opacity: 1;
  visibility: visible;
}
.flex_box:hover .icon__search {
  transform: translate(-50%, -50%);
}

.port__image {
  vertical-align: top;
  max-width: 100%;
}

.post__icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  background-color: #65ba99b0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.search__position {
  position: relative;
}
.search__position .icon__search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400px);
  transition: 0.4s;
}

.icon__link {
  margin: 0 15px 15px;
}

.header {
  max-width: 1600px;
}

.header-topick {
  background: url(../img/topick__header.jpg) center/cover;
  max-height: 500px;
}

.container-topick {
  margin: auto;
  max-width: 1162px;
}

.topick {
  padding: 95px 0 139px;
}
.topick__title {
  color: #ffffff;
  font-size: calc(50px + 40 * ((100vw - 320px) / 1280));
  line-height: 0.8;
  margin-bottom: 0;
  font-family: "BebasNeue", sans-serif;
}
.topick__text {
  margin-top: -6px;
  color: #fff;
  margin-left: 27px;
  font-family: "BebasNeue", sans-serif;
  font-size: calc(22px + 14 * ((100vw - 320px) / 1280));
}
@media screen and (max-width: 320px) {
  .topick__text {
    line-height: 18px;
    margin-top: 0;
  }
}

.title-left:first-child {
  margin-left: 56px;
}

.title-left:nth-child(2) {
  margin-left: 12px;
}

.header__navbar {
  background-color: #252222;
}

.container {
  max-width: 940px;
  margin: auto;
}

.navbar {
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo__icon {
  font-size: 48px;
  color: #fff;
  cursor: pointer;
  font-family: "BebasNeue", sans-serif;
}

.nav {
  margin: auto;
  transition: 0.4s;
}
@media screen and (max-width: 992px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    background: #252222;
    max-height: 0;
    overflow: hidden;
    order: 1;
    width: 100%;
  }
  .nav.active {
    max-height: 300px;
  }
}
@media screen and (max-width: 992px) and (max-width: 430px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
}
.nav__link {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  transition: 0.4s;
  margin-left: 50px;
  font-family: "BebasNeue", sans-serif;
}
@media screen and (max-width: 430px) {
  .nav__link {
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav__link {
    margin-bottom: 15px;
  }
}
.nav__link:hover {
  color: #65BA99;
  text-transform: uppercase;
  border-bottom: 2px solid #65BA99;
}
.nav__link:first-child {
  margin-left: 0;
}

@media screen and (max-width: 344px) {
  .network {
    margin-left: auto;
    margin-right: 20px;
  }
}
.network .network__link {
  text-decoration: none;
  margin-left: 12px;
}
.network .network__link:first-child {
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
