@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.d-block {
  display: block;
}

.header {
  max-width: 1600px;
}

@media screen and (max-width: 640px) {
  .flex__container-news {
    display: flex;
    flex-direction: column;
  }
  .flex__container-news .news__content {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex__container-news .news__tags {
    margin: 20px 0 15px;
  }
  .flex__container-news .sidebar {
    padding: 0 75px;
  }
  .flex__container-news .news__content-image {
    max-width: 100%;
  }
}

button.hamburger {
  height: 35px;
  width: 35px;
}

div.hamburger {
  height: 35px;
  width: 35px;
}
div.hamburger > .inner {
  top: 50%;
}

.hamburger {
  background-color: transparent;
  border: 0 transparent solid;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  opacity: 1;
  overflow: visible;
  padding: 4px;
  text-transform: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger:hover {
  background-color: transparent;
  opacity: 1;
}
.hamburger:hover span.bar {
  background-color: white;
}
.hamburger:hover > .inner:nth-child(1)::before, .hamburger:hover > .inner:nth-child(1)::after, .hamburger:hover > .inner:nth-child(2)::before, .hamburger:hover > .inner:nth-child(2)::after, .hamburger:hover > .inner:nth-child(3)::before, .hamburger:hover > .inner:nth-child(3)::after,
.hamburger:hover span.bar:nth-child(1)::before,
.hamburger:hover span.bar:nth-child(1)::after,
.hamburger:hover span.bar:nth-child(2)::before,
.hamburger:hover span.bar:nth-child(2)::after,
.hamburger:hover span.bar:nth-child(3)::before,
.hamburger:hover span.bar:nth-child(3)::after {
  background-color: white;
}
.hamburger.active {
  background-color: transparent;
}
.hamburger.active span.bar {
  background-color: white;
}
.hamburger.active > .inner:nth-child(1)::before, .hamburger.active > .inner:nth-child(1)::after, .hamburger.active > .inner:nth-child(2)::before, .hamburger.active > .inner:nth-child(2)::after, .hamburger.active > .inner:nth-child(3)::before, .hamburger.active > .inner:nth-child(3)::after,
.hamburger.active span.bar:nth-child(1)::before,
.hamburger.active span.bar:nth-child(1)::after,
.hamburger.active span.bar:nth-child(2)::before,
.hamburger.active span.bar:nth-child(2)::after,
.hamburger.active span.bar:nth-child(3)::before,
.hamburger.active span.bar:nth-child(3)::after {
  background-color: white;
}
.hamburger > .inner {
  margin: 0;
  margin-top: -1px;
  position: relative;
  width: 100%;
}
.hamburger span.bar {
  background-color: white;
  border-radius: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}
.hamburger span.bar:nth-child(1) {
  top: -7px;
}
.hamburger span.bar:nth-child(3) {
  top: 7px;
}
.hamburger:focus {
  outline: 0;
}

.hamburger--simple span.bar {
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--simple span.bar:nth-child(1) {
  top: 0;
  transform: translate3d(0, -6px, 0);
}
.hamburger--simple span.bar:nth-child(2) {
  top: 0;
  transform: translate3d(0, 6px, 0);
}
.hamburger--simple span.bar:nth-child(3) {
  display: none;
}
.hamburger--simple.active span.bar:nth-child(1) {
  transform: rotate(-45deg) translate3d(0, 0, 0);
}
.hamburger--simple.active span.bar:nth-child(2) {
  transform: rotate(45deg) translate3d(0, 0, 0);
}

.hamburger {
  display: none;
  margin-right: 20px;
}
.hamburger .inner {
  display: block;
}
@media screen and (max-width: 992px) {
  .hamburger {
    display: inline-block;
    margin-left: auto;
    z-index: 1;
  }
}

.header__portfolio {
  min-height: 1838px;
  background-color: #65BA99;
}

.portfolio__title {
  margin: 0;
  padding: 40px 0 0;
  text-align: center;
  color: #fff;
  font-family: "BebasNeue";
  font-size: 48px;
}

.portfolio__text {
  font-size: 24px;
  margin: 0;
  padding: 0 0 42px;
  text-align: center;
  font-family: "BebasNeue";
  color: #fff;
}

.flex__container {
  display: flex;
}

.portfolio__flex {
  flex-wrap: wrap;
}
@media screen and (max-width: 939px) {
  .portfolio__flex {
    max-width: 470px;
    margin: auto;
  }
}

.flex_box {
  position: relative;
  overflow: hidden;
}
.flex_box:hover .post__icon {
  opacity: 1;
  visibility: visible;
}
.flex_box:hover .icon__search {
  transform: translate(-50%, -50%);
}

.port__image {
  vertical-align: top;
  max-width: 100%;
}

.post__icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  background-color: #65ba99b0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.search__position {
  position: relative;
}
.search__position .icon__search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400px);
  transition: 0.4s;
}

.icon__link {
  margin: 0 15px 15px;
}

.header__mider {
  background: url(../img/header__mider.jpg) center 60%/cover;
  min-height: 300px;
}

.mider__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
.mider__content .mider__title {
  color: #fff;
  text-align: center;
  font-family: "BebasNeue", sans-serif;
  font-size: 2.25rem;
}
.mider__content .mider__text {
  margin-right: 50px;
  color: #fff;
  text-align: end;
  font-family: "BebasNeue", sans-serif;
  font-size: 1.5rem;
}

.header-topick {
  background: url(../img/topick__header.jpg) center center/cover;
  max-height: 500px;
}

.container-topick {
  margin: auto;
  max-width: 1162px;
}

.topick {
  padding: 95px 0 139px;
}
.topick__title {
  color: #ffffff;
  font-size: calc(50px + 40 * ((100vw - 320px) / 1280));
  line-height: 0.8;
  margin-bottom: 0;
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
}
.topick__text {
  margin-top: -6px;
  color: #fff;
  margin-left: 27px;
  font-family: "BebasNeue", sans-serif;
  font-size: calc(22px + 14 * ((100vw - 320px) / 1280));
}
@media screen and (max-width: 320px) {
  .topick__text {
    line-height: 18px;
    margin-top: 0;
  }
}

.title-left:first-child {
  margin-left: 56px;
}

.title-left:nth-child(2) {
  margin-left: 12px;
}

.header__navbar {
  background-color: #252222;
}

.container {
  max-width: 940px;
  margin: auto;
}

.navbar {
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo__icon {
  font-size: 48px;
  color: #fff;
  cursor: pointer;
  font-family: "BebasNeue", sans-serif;
}

.nav {
  margin: auto;
  transition: 0.4s;
}
@media screen and (max-width: 992px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    background: #252222;
    max-height: 0;
    overflow: hidden;
    order: 1;
    width: 100%;
  }
  .nav.active {
    max-height: 300px;
  }
}
@media screen and (max-width: 992px) and (max-width: 430px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
}
.nav__link {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
  transition: 0.4s;
  margin-left: 50px;
  font-family: "BebasNeue", sans-serif;
}
@media screen and (max-width: 430px) {
  .nav__link {
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .nav__link {
    margin-bottom: 15px;
  }
}
.nav__link:hover {
  color: #65BA99;
  text-transform: uppercase;
  border-bottom: 2px solid #65BA99;
}
.nav__link:first-child {
  margin-left: 0;
}

@media screen and (max-width: 344px) {
  .network {
    margin-left: auto;
    margin-right: 20px;
  }
}
.network .network__link {
  text-decoration: none;
  margin-left: 12px;
}
.network .network__link:first-child {
  margin-left: 0;
}

.header__news {
  min-height: 680px;
  background-color: #CDCDCD;
}

.news__container {
  position: relative;
  overflow: hidden;
}

.flex__container-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.news__title {
  padding-top: 60px;
  margin: 0;
  text-align: center;
  font-family: "BebasNeue", sans-serif;
  font-size: 3rem;
}

.news__tags {
  font-size: 0.75rem;
  color: red;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 45px;
}
.news__tags::before {
  content: url(../img/tagicon.png);
}

.green--line {
  width: 140px;
  height: 20px;
  background-color: #59A386;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
}

.news__content {
  min-width: 461px;
}

.news__content-title {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #59A386;
  font-weight: 700;
  margin-top: 0;
}

.news__content-text {
  font-size: 0.875rem;
  color: #666767;
  font-family: "OpenSans", sans-serif;
}

.news__content-image {
  display: none;
}
.news__content-image:first-child {
  display: inline;
}

.sidebar {
  padding-left: 75px;
}

.tags__title {
  margin-top: 67px;
  font-size: 1.125rem;
  color: #59A386;
  font-family: "BebasNeue", sans-serif;
}

.tags__link {
  background-color: #59A386;
  color: #fff;
  text-decoration: none;
  padding: 0.1875rem 0.8125rem 0.1875rem 0.6875rem;
  font-family: "OpenSans", sans-serif;
  display: inline-block;
  margin: 5px 5px 0 0;
}
.tags__link:hover {
  background-color: #E2534B;
}

.side__blog-title {
  margin-top: 54px;
  font-size: 1.25rem;
  font-family: "OpenSans", sans-serif;
  color: #818181;
}
.side__blog-title .span--color {
  color: #252222;
}

.blog__link {
  width: 70px;
  height: 70px;
  background-color: #707070;
  border-radius: 8px;
  margin-top: 20px;
}

.news__info {
  display: none;
}
.news__info.active {
  display: block;
}

.tags__link.active {
  background-color: #E2534B;
}

.header__partners {
  min-height: 200px;
  background-color: #BEBEBE;
  display: flex;
  align-items: center;
}

.partners__list {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__item {
  margin-right: 80px;
  text-decoration: none;
}
.partners__item:last-child {
  margin-right: 0;
}

.partners__image {
  max-width: 100%;
}

.header__bio {
  background-color: #E2534B;
  min-height: 600px;
}

.flex__bio {
  display: flex;
  justify-content: center;
}

.bio__title {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  font-family: BebasNeue, sans-serif;
  margin: 0;
  padding-top: 2.0625rem;
}

.network__link {
  text-decoration: none;
}

.avtore {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.avtore__title {
  font-family: Bebas Neue, sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  text-transform: lowercase;
  color: #fff;
  margin: 33px 0 23px;
}

.social__avtore {
  margin: 48px 10px 0 0;
}

.background__title {
  font-weight: 200;
  color: #fff;
  font-size: 1.125rem;
  font-family: BebasNeue, sans-serif;
  margin: 47px 0 13px 114px;
}

.background__text {
  color: #fff;
  font-size: 14px;
  font-family: BebasNeue, sans-serif;
  margin-bottom: 10px;
  margin-left: 140px;
}

.header__contact {
  background: url(../img/bg__contact.jpg);
  min-height: 530px;
}

.contact__title {
  font-family: BebasNeue, sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-top: 2.5rem;
  margin-top: 0;
  margin-bottom: 40px;
}

.contact__number {
  font-family: BebasNeue, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  display: block;
}

.contact__gmail {
  font-family: BebasNeue, sans-serif;
  font-size: 3.75rem;
  text-align: center;
  color: #fff;
  display: block;
  border: 5px solid #fff;
  margin-top: 14px;
}

.contact__id {
  font-family: BebasNeue, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #fff;
  display: block;
  margin-top: 16px;
}

.contact__text {
  font-family: BebasNeue, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  display: block;
  margin-top: 130px;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Thin"), local("BebasNeue-Thin"), url("../font/bebasneue/bebasneuethin.woff2") format("woff2"), url("../font/bebasneue/bebasneuethin.woff") format("woff"), url("../font/bebasneue/bebasneuethin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Light"), local("BebasNeue-Light"), url("../font/bebasneue/bebasneuelight.woff2") format("woff2"), url("../font/bebasneue/bebasneuelight.woff") format("woff"), url("../font/bebasneue/bebasneuelight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url("../font/bebasneue/bebasneuebook.woff2") format("woff2"), url("../font/bebasneue/bebasneuebook.woff") format("woff"), url("../font/bebasneue/bebasneuebook.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../font/bebasneue/bebasneueregular.woff2") format("woff2"), url("../font/bebasneue/bebasneueregular.woff") format("woff"), url("../font/bebasneue/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../font/bebasneue/bebasneuebold.woff2") format("woff2"), url("../font/bebasneue/bebasneuebold.woff") format("woff"), url("../font/bebasneue/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
