.header__portfolio 
  min-height: 1838px
  background-color: #65BA99
.portfolio__title
  margin: 0
  padding: 40px 0 0
  text-align: center
  font-size: 3rem
  color: #ffffff
  font-family: "Bebas Neue"
  text-align: center
.portfolio__text
  font-size: 24px
  margin: 0
  padding: 0 0 42px
  font-size: 24px
  color: #ffffff
  font-family: "Bebas Neue"
  text-align: center
.flex__container
  display: flex
.portfolio__flex
  flex-wrap: wrap
  +media(939px)
    max-width: 470px
    margin: auto
.flex_box
  position: relative
  overflow: hidden
  
  &:hover 
    .post__icon
      opacity: 1
      visibility: visible

    .icon__search
      transform: translate(-50%, -50%)
.port__image
  vertical-align: top
  max-width: 100%
  width: 100%
  +media(472px)
    height: 50vh
    object-fit: cover
.post__icon
  position: absolute
  top: 0
  left: 0
  transition: 0.4s
  background-color: #65ba99b0
  opacity: 0
  visibility: hidden
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: end
.search__position
  position: relative
  .icon__search
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -400px)
    transition: 0.4s
  +media(472px)
    flex: 1 0 100%
.icon__link
  margin: 0 15px 15px
.header__mider
  background: url(../img/header__mider.jpg) center 60% / cover
  min-height: 300px
.mider__content
  +flex($dir: column, $main: center)
  padding-top: 100px
  .mider__title
    color: #fff
    text-align: center
    font-family: 'Bebas Neue', sans-serif
    font-size: 2.25rem
    &::after
      content: '"'
    &::before
      content: '"'
  .mider__text
    margin-right: 50px
    color: #fff
    text-align: end
    font-family: 'Bebas Neue', sans-serif
    font-size: 1.5rem

