.header-topick
  background: url(../img/topick__header.jpg) center center / cover
  max-height: 500px
.container-topick
  margin: auto
  max-width: 1162px
.topick
  padding: 95px 0 139px
  &__title
    color: #ffffff
    +adp-font(90, 50)
    line-height: 0.8
    margin-bottom: 0
    font-family: 'Bebas Neue', sans-serif
    font-weight: 700

  &__text
    margin-top: -6px
    color: #fff
    margin-left: 27px
    font-family: 'Bebas Neue', sans-serif
    +adp-font(36, 22)
    +media(320px)
      line-height: 18px
      margin-top: 0
.title-left:first-child
  margin-left: 56px
.title-left:nth-child(2)
  margin-left: 12px
.header__navbar
  background-color: #252222
.container
  max-width: 940px
  margin: auto
.navbar
  position: relative
  min-height: 100px
  +flex($cross: center,  $wrap: wrap)
.logo__icon
  font-size: 48px
  color: #fff
  cursor: pointer
  font-family: 'BebasNeue', sans-serif
.nav
  margin: auto
  transition: 0.4s
  +media(992px)
    +flex($cross: center, $main: center)
    position: absolute
    top: 100%
    background: #252222
    max-height: 0
    overflow: hidden
    order: 1
    width: 100%
    &.active
      max-height: 300px
    +media(430px)
      +flex($dir: column)
  &__link
    text-decoration: none
    font-size: 1.125rem
    color: #fff
    transition: 0.4s
    margin-left: 50px
    font-family: 'Bebas Neue', sans-serif
    +media(430px)
      margin-left: 0
    +media(992px)
      margin-bottom: 15px
    &:hover
      color: #65BA99
      text-transform: uppercase
      border-bottom: 2px solid #65BA99
    &:first-child
      margin-left: 0
.network
  +media(344px)
    margin-left: auto
    margin-right: 20px
  .network__link
    text-decoration: none
    margin-left: 12px
    &:first-child
      margin-left: 0
