.header__partners
  min-height: 200px
  background-color: #BEBEBE
  +flex($cross: center)
.partners__list
  margin: 0
  +flex($main: center, $cross: center)
.partners__item
  margin-right: 80px
  text-decoration: none
  &:last-child
    margin-right: 0