.header.header__bio 
  .container.container__bio
    h1.bio__title BIO /
    .flex__container.flex__bio
      .avtore
        .avtore__title John Smits
        .avtore__image 
          img(src="../img/avtor-ava.png", alt="alt")
        .social__avtore
          a.network__link(href="#") 
            img(src="../img/instagram_icon.png", alt="alt")
          a.network__link(href="#") 
            img(src="../img/facebook_icon.png", alt="alt")
          a.network__link(href="#") 
            img(src="../img/flickr_icon.png", alt="alt")
          a.network__link(href="#") 
            img(src="../img/twiter_icon.png", alt="alt")
      .background
        .background__title Best Solution is the simplest IDEA!
        .background__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel 
          span.d-block diam non neque iaculis sollicitudin. Nunc nec massa et risus 
          span.d-blockiaculis interdum et sed mi. Nam viverra ac neque eu aliquet. 
          span.d-block Maecenas posuere, neque non vestibulum sodales, arcu diam 
          span.d-block interdum nulla, in molestie magna magna vitae justo. Aenean 
          span.d-block semper volutpat sapien eu porta. Etiam vestibulum pharetra 
          span.d-block risus vel ultricies. Phasellus tempus, enim sed gravida interdum, 
          span.d-block lorem ipsum auctor libero, ut ultrices dolor dolor at nulla. 
          span.d-block Integer viverra vitae velit eget tincidunt. Fusce tristique eros ac 
          span.d-block est mattis consequat.
        .background__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel 
          span.d-block diam non neque iaculis sollicitudin. Nunc nec massa et risus 
          span.d-block iaculis interdum et sed mi. Nam viverra ac neque eu aliquet. 
          span.d-block Maecenas posuere, neque non vestibulum sodales, arcu diam 
          span.d-block interdum nulla, in molestie magna magna vitae justo. 

