.header.header__contact
  .container.container__contact
    h1.contact__title contact /
    span.contact__number +39 123 45678 90
    a.contact__gmail contact@smits.me
    span.contact__id 124 Avenue Street, Los angeles,California 
    span.contact__text  © Copyright 2013 The Uncreative Lab, All Rights Reserved. 
