.header.header-topick 
  .container.container-topick 
    .topick
      h1.topick__title 
        span.d-block.title-left .FOLIO
        span.d-block.title-left ONE PAGE
        span.d-block.title-left PSD THEME
      p.topick__text Simple, clear, minimal portfolio template
.header.header__navbar
  .container
    .navbar
      .logo__icon 
        a.logo__link .folio
      nav.nav 
        a.nav__link(href="#") work
        a.nav__link(href="#") news
        a.nav__link(href="#") bio
        a.nav__link(href="#") contact
      .network 
        a.network__link(href="#") 
          img(src="../img/instagram_icon.png", alt="alt")
        a.network__link(href="#") 
          img(src="../img/facebook_icon.png", alt="alt")
        a.network__link(href="#") 
          img(src="../img/flickr_icon.png", alt="alt")
        a.network__link(href="#") 
          img(src="../img/twiter_icon.png", alt="alt")
