.header.header__news 
  .container.news__container 
    h1.news__title NEws /
    .flex__container.flex__container-news
      .news__content 
        p.news__tags Glamour, Fashion
        span.green--line 
        h1.news__content-title Duis dapibus aliquam mi, eget euismod sem scelerisque ut.
        .news__infos
          .news__info(data-desc="Glamour").active
            .news__content-port
              img.news__content-image(src="../img/Glamour.jpg", alt="alt")
            p.news__content-text 1 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.
          
          .news__info(data-desc="Street")
            .news__content-port
              img.news__content-image(src="../img/Street.jpg", alt="alt")
            p.news__content-text 2 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.

          .news__info(data-desc="Personal")
            .news__content-port
              img.news__content-image(src="../img/Personal.jpg", alt="alt")
            p.news__content-text 3 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.
          .news__info(data-desc="Portrait")
            .news__content-port
              img.news__content-image(src="../img/Portrait.jpg", alt="alt")
            p.news__content-text 4 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.
          .news__info(data-desc="B&amp;W")
            .news__content-port
              img.news__content-image(src="../img/B&W.jpg", alt="alt")
            p.news__content-text 5 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.
          .news__info(data-desc="Nude")
            .news__content-port
              img.news__content-image(src="../img/Nude.jpg", alt="alt")
            p.news__content-text 6 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.
          .news__info(data-desc="Wedding")
            .news__content-port
              img.news__content-image(src="../img/Wedding.jpg", alt="alt")
            p.news__content-text 7 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.
          .news__info(data-desc="Fashion")
            .news__content-port
              img.news__content-image(src="../img/fashion-model.jpg", alt="alt")
            p.news__content-text 8 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.
          .news__info(data-desc="Kids")
            .news__content-port
              img.news__content-image(src="../img/Kids.jpg", alt="alt")
            p.news__content-text 9 Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra 
              span.d-block ac neque eu aliquet. Maecenas posuere, neque non vestibulum 
              span.d-block sodales, arcu diam interdum nulla, in molestie magna magna vitae 
              span.d-block justo Aenean semper volutpat sapien eu porta. Etiam vestibulum 
              span.d-block pharetra risus vel ultricies.

      .sidebar
        .side__tags 
          h1.tags__title TAGS
          a.tags__link(href="#Glamour").active Glamour  
          a.tags__link(href="#Street") Street 
          a.tags__link(href="#Personal") Personal 
          a.tags__link(href="#Portrait") Portrait 
          a.tags__link(href="#B&amp;W") B&amp;W
          a.tags__link(href="#Nude") Nude 
          a.tags__link(href="#Wedding") Wedding
          a.tags__link(href="#Fashion") Fashion
          a.tags__link(href="#Kids") Kids 
        .side__blog
          .side__blog-title from the 
            span.span--color BLOG
          .blog__link
          .blog__link
