.header.header__partners 
  .container.partners__container
    ul.partners__list
      li.partners__item 
        a.partners(href="#")
          img(src="../img/canonlogo.png", alt="alt")
      li.partners__item  
        a.partners(href="#")
          img(src="../img/nikonlogo.png", alt="alt")
      li.partners__item  
        a.partners(href="#")
          img(src="../img/manfrottologo.png", alt="alt")
      li.partners__item  
        a.partners(href="#")
          img(src="../img/prolightlogo.png", alt="alt")