doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/style.css")
    title PUG
  body
    include ../includes/_navbar
    include ../includes/_header
    include ../includes/_news
    include ../includes/_partners
    include ../includes/_bio
    include ../includes/_contact
    block main
    script(src="../js/script.js")